{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo ao App</title>
    <link rel="stylesheet" href="{% static 'app/css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Bem-vindo ao App!</h1>
        <p>Clique abaixo para realizar uma consulta de CEP:</p>
        <a href="{% url 'consulta' %}"><button class="btn btn-primary">Consultar CEP</button></a>
    </div>
</body>
</html>